<template>
  <nav>
    <div class="nav-wrapper container">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>Home</a></li>
        <li><a>About</a></li>
      </ul>
    </div>
  </nav>
</template>